@import "tailwindcss";
@import "./fonts.css";

@theme {
  /*font sans: UI, navigation, buttons, interface text*/
  --font-sans: 'InterTight', system-ui, sans-serif;
  /*Font serif: large articles, abstract, content*/
  --font-serif: 'Alegreya', Georgia, serif;;
  /*font mono: DOIs, IDs, tags, code*/
  --font-mono: 'JetBrainsMono', ui-monospace, monospace;;

  --color-primary: #004f90;
  --color-background: #e5edf3;
}
