---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Yhonatan|Projects" page="projects" transition:animate="slide">
  <section class="absolute bottom-0 invisible">A</section>
</Layout>
