<div class="col-span-10 col-start-2 md:col-span-4 md:col-end-10">
  <section class="font-montserrat-regular">
    Hi! I am Yhonatan, a PhD student in the
    <a
      class="text-primary hover:font-montserrat-semi-bold"
      target="_blank"
      href="https://ilda.saclay.inria.fr/"
    >
      Interacting with Large DAta (ILDA)</a
    > team at Université Paris-Saclay, supervised by <a
      href="https://varaya.cl/"
      class="text-primary hover:font-montserrat-semi-bold"
      target="_blank"
      >Vanessa P. Araya
    </a> and <a
      href="https://pages.saclay.inria.fr/emmanuel.pietriga/"
      class="text-primary hover:font-montserrat-semi-bold"
      target="_blank">Emmanuel Pietriga</a
    >. I was a virtual intern at the <a
      class="text-primary hover:font-montserrat-semi-bold"
      target="_blank"
      href="https://www.unisa.edu.au/research/ive/"
    >
      Australian Research Centre for Interactive and Virtual Environments (IVE)</a
    > at the University of South Australia. I obtained my Master's degree in Computer
    Science from the Federal University of Rio Grande do Sul (UFRGS) in Brazil, where
    I was supervised by <a
      class="text-primary hover:font-montserrat-semi-bold"
      target="_blank"
      href="https://www.inf.ufrgs.br/~nedel/">Prof. Luciana Nedel</a
    > in the <a
      class="text-primary hover:font-montserrat-semi-bold"
      target="_blank"
      href="https://www.inf.ufrgs.br/vislab/#/home"
      >Graphics, Visualization and Interaction Lab</a
    >. I received my Bachelor's degree in System Engineering from San Agustin
    University in Peru.
  </section>
</div>
