<div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
  <section class="font-montserrat-regular">
    My current research is focused on <span
      class="font-montserrat-semi-bold text-primary"
      >Human-Computer Interaction (HCI)</span
    >
    and <span class="font-montserrat-semi-bold text-primary"
      >Augmented Reality.</span
    >
    I specifically focus on <span class="font-montserrat-semi-bold text-primary"
      >Geospatial Data</span
    > and how
    <span class="font-montserrat-semi-bold text-primary"
      >Immersive Technologies</span
    >
    can help the users perform tasks in outdoor environments. This research implements
    several concepts from
    <span class="font-montserrat-semi-bold text-primary"
      >Immersive Analytics</span
    > and
    <span class="font-montserrat-semi-bold text-primary"
      >Situated Analytics,</span
    >
    and will combine these with applied concepts from <span
      class="font-montserrat-semi-bold text-primary">Modular Interfaces.</span
    >
  </section>
</div>
