---

---

<!--TODO: rewrite all footer components--><!--TODO: Use a accessible colors for the font-->
<footer class="col-span-10 col-start-2 md:col-span-8 md:col-start-3">
  <div class="@container text-center">
    <div class="font-alegreya-italic md:text-lg">
      <span class="font-alegreya-italic">Copyright © Yhonatan Iquiapaza.</span>
    </div>
    <div class="font-monserrat-light text-sm md:text-base p-2">
      <span>Last updated in December 2025</span>
    </div>
  </div>
</footer>
