---
import type { link } from '@interfaces/global'
const currentPath = Astro.url.pathname

const links: Array<link> = [
  { href: '/', text: 'Home' },
  { href: '/#publications', text: 'Publications' },
  // { href: '/publications', text: 'Publications'},
  // { href: '/projects', text: 'Projects'},
  // { href: '/talks', text: 'Talks'},
  //{ href: '/resume', text: 'Resume' },
  { href: '/resume/', text: 'Resume' },
]
//! TODO: resolve the underline in menu header with use resume page[]
---

<div class="col-span-10 col-start-2 md:col-span-8 md:col-start-3">
  <nav class="@container mx-auto my-8">
    <div
      class="flex flex-col items-center space-x-2.5 md:flex-row md:items-baseline md:space-x-1 text-primary"
    >
      <h1 class="text-left text-4xl font-alegreya-semi-bold-italic">
        <a href="/">Yhonatan Iquiapaza</a>
      </h1>
      <div
        transition:name="menu-line"
        class="space-x-4 text-left py-10 text-base md:w-auto md:pl-50 md:text-2xl"
      >
        {
          links.map(({ href, text }) => (
            <a
              href={href}
              class:list={[
                'font-montserrat-regular',
                {
                  'font-montserrat-semi-bold underline underline-offset-8':
                    currentPath === href,
                },
              ]}
            >
              {text}
            </a>
          ))
        }
      </div>
    </div>
  </nav>
</div>
