---
import { Image } from 'astro:assets'

import Yhonatan from '@assets/yhonatan.jpg'

import GoogleScholar from '@assets/logos/academicons--google-scholar.svg'
import ResearchGate from '@assets/logos/academicons--researchgate.svg'
import Linkedin from '@assets/logos/formkit--linkedin.svg'
import GitHib from '@assets/logos/mdi--github.svg'
---

<div class="md:col-span-3 md:col-start-3 col-span-10 col-start-2">
  <div class="flex flex-col items-center gap-2">
    <div class="w-48">
      <Image src={Yhonatan} alt="Yhonatan Iquiapaza" class="rounded-full" />
    </div>
    <div class="flex flex-row gap-2">
      <div class="hover:bg-red-300 p-2 hover:rounded-full">
        <a
          href="https://scholar.google.com/citations?user=HjBe7XUAAAAJ&hl=en"
          target="_blank"
        >
          <GoogleScholar width={24} height={24} />
        </a>
      </div>
      <div class="hover:bg-emerald-300 p-2 hover:rounded-full">
        <a
          href="https://www.researchgate.net/profile/Yhonatan-Iquiapaza?ev=hdr_xprf"
          target="_blank"
        >
          <ResearchGate width={24} height={24} />
        </a>
      </div>
      <div class="hover:bg-blue-300 p-2 hover:rounded-full">
        <a href="https://www.linkedin.com/in/yiquiapaza/" target="_blank">
          <Linkedin width={24} height={24} />
        </a>
      </div>
      <div class="hover:bg-purple-300 p-2 hover:rounded-full">
        <a href="https://github.com/yiquiapaza" target="_blank">
          <GitHib width={24} height={24} />
        </a>
      </div>
      <!--
      <div class="hover:bg-orange-300 p-2 hover:rounded-full">
        <a href="https://yiquiapaza.github.io/resume/" target="_blank">
          <LogoCV width={24} height={24} />
        </a>
      </div>
-->
    </div>
  </div>
</div>
