---
import Photo from '@components/Photo.astro'
---

<div class="col-span-10 col-start-2 md:col-span-5 md:col-start-3">
  <p class="text-right text-3xl md:pt-15 font-alegreya-semi-bold-italic">
    Yhonatan Jesus Iquiapaza Ccama
  </p>
  <p class="text-right font-montserrat-regular">
    Email: yiquiapaza [at] gmail.com
  </p>
  <div class="flex flex-row-reverse font-montserrat-regular">
    <div>
      Resume pdf version:
      <a
        href="https://drive.google.com/file/d/10eb5HNfv081NZ2PZnolxycBDdNhO-uah/view?usp=sharing"
        target="_blank"
      >
        <span class="hover:bg-orange-300 hover:rounded-full p-2"> PDF </span>
      </a>
    </div>
  </div>
</div>
<div class="col-span-10 col-start-2 md:col-span-3 md:col-start-8">
  <Photo />
</div>
